body { font-family: Arial, sans-serif; background-color: #d1e189; }
form { width: 50%; margin: 40px auto; padding: 20px; border: 1px solid #d1e189; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
        background-color: #FFFFFF; }
label { display: block; margin-bottom: 10px; color: #666; }
input[type="number"] { width: 100%; height: 25px; margin-bottom: 20px; padding: 5px; border: 1px solid #d1e189; border-radius: 5px; }
.container { display: flex; justify-content: center; align-items: flex-start; margin: 40px auto; }
#calculator-form { width: 40%; padding: 20px; border: 1px solid #d1e189; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); background-color: #ffffff; 
        margin-right: 20px; margin-top: 0; }
.instruction-box { width: 56%; padding: 20px; border: 1px solid #d1e189; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); background-color: #ffffff;
        margin-top: 0; }
button { width: 100%; height: 35px; background-color: #b7c476; color: #fff; padding: 5px; border: none; border-radius: 5px; cursor: pointer; }
button:hover { background-color: #a3b35d; }
#result { width: 60%; margin: 40px auto; padding: 20px; border: 1px solid #d1e189; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
        background-color: #ffffff; }
.instruction-box h2 { color: #d1e189; }
.instruction-box p, .instruction-box li { color: #666; }
@media (max-width: 1024px) {
    #calculator-form { width: 45%; }
    .instruction-box { width: 50%; }
}
@media (max-width: 768px) {
    .container { flex-direction: column; align-items: center; }
    #calculator-form { width: 80%; margin-right: 0; margin-bottom: 20px; }
    .instruction-box { width: 80%; }
}
@media (max-width: 480px) {
    #calculator-form { width: 90%; }
    .instruction-box { width: 90%; }
    h1 { font-size: 24px; }
    h2 { font-size: 18px; }
}
